@font-face {
  font-family: Abel;
  src: url(/Blog-Koloni/FONTS/Abel/Abel-Regular.ttf);
}
@font-face {
  font-family: Anton;
  src: url(/Blog-Koloni/FONTS/Anton/Anton-Regular.ttf);
}
@font-face {
  font-family: Product Sans;
  src: url(/Blog-Koloni/FONTS/Product-sans/Product\Sans\Bold.ttf);
}
@font-face {
  font-family: bjorn;
  src: url(/Blog-Koloni/FONTS/bjorn/Bjorn\Regular.otf);
}
@font-face {
  font-family: Bebas Neue;
  src: url(/Blog-Koloni/FONTS/bebas_neue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(/Blog-Koloni/FONTS/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/Blog-Koloni/FONTS/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Lexend;
  src: url(/Blog-Koloni/FONTS/Lexend/LexendDeca-Regular.ttf);
}
